{% extends 'recipes/base.html' %}
{% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h1>Recipes for {{ mealplan.name }} on {{ mealplan.date }}</h1>
    {% for recipe in mealplan.recipes.all %}
    <div>
        <a href="{% url "recipe_detail" recipe.pk %}">{{ recipe.name }}</a>
    </div>
    {% endfor %}
  </main>
{% endblock content %}